Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["spacemaster-bucket-configs"]
          roleName: "aws-elasticbeanstalk-ec2-role"
          
option_settings:
  - option_name: NODE_ENV
    value: development

#run command before file copy to /var/app/current
commands:
  01_create_dir:
    test: test ! -d /app_configs
    command: "mkdir /app_configs"

#Copy files
files:
  "/app_configs/db/db_conn.json" :
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/db_conn.json
  
  "/app_configs/platform/.env" :
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/.env

  "/app_configs/certs/server-cert.pem" :
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/certs/server-cert.pem

  "/app_configs/certs/server-key.pem" :
    mode: "000644"
    owner: webapp
    group: webapp
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/certs/server-key.pem

#run command after file copy to /var/app/current
container_commands:
  # copy .env file
  post_01_copy_env:
    test: test /app_configs/platform/.env
    command: "cp /app_configs/platform/.env .env"
  
  # copy db connection info
  post_02_copy_db_conn:
    test: test /app_configs/db/db_conn.json
    command: "cp /app_configs/db/db_conn.json db_conn.json"
  
  # copy cert-cert
  post_03_copy_certs:
    test: test /app_configs/certs/server-key.pem
    command: |
      mkdir certs
      cp /app_configs/certs/* /certs"

  # source_compile.config
  post_04_compile_typescript:
    command: "./node_modules/.bin/tsc -p tsconfig.json"
    env:
      PATH: /opt/elasticbeanstalk/node-install/node-v12.18.4-linux-x64/bin
