Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["spacemaster-bucket-configs"]
          roleName: "aws-elasticbeanstalk-ec2-role"

commands:
  01_create_dir:
    test: test ! -d /app_configs
    command: "mkdir /app_configs"

files:
  "/app_configs/db/db_conn.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/db_conn.json
  
  "/app_configs/platform/.env" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/.env

container_commands:
  post_01_copy_env:
    test: test /app_configs/platform/.env
    command: "cp /app_configs/platform/.env .env"
  
  post_02_copy_db_conn:
    test: test /app_configs/db/db_conn.json
    command: "cp /app_configs/db/db_conn.json /public_dist/config/db_conn.json"