Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["spacemaster-bucket-configs"]
          roleName: "aws-elasticbeanstalk-ec2-role"

commands:
  01_create_dir:
    test: test ! -d /app_configs
    command: "mkdir /app_configs"
  01_clean_create_dir:
    command: | 
        "rm -rf /app_configs"
        "mkdir /app_configs/db"
        "mkdir /app_configs/platform"

files:
  "/app_configs/db/sequelize-config.json" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/sequelize-config.json
  
  "/app_configs/platform/.env" :
    mode: "000644"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://spacemaster-bucket-configs.s3-ap-southeast-1.amazonaws.com/.env