files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIICajCCAdMCFEjeVIhCXP8BC+5fXfVRKdHi/ofjMA0GCSqGSIb3DQEBCwUAMHQx
      CzAJBgNVBAYTAkhLMRIwEAYDVQQIDAlIT05HIEtPTkcxCzAJBgNVBAcMAkhLMRQw
      EgYDVQQKDAtzcGFjZU1hc3RlcjELMAkGA1UECwwCSVQxITAfBgkqhkiG9w0BCQEW
      Emxlbm5vZGV2QGdtYWlsLmNvbTAeFw0yMDA5MjEwNTQ1MzFaFw0yMDEwMjEwNTQ1
      MzFaMHQxCzAJBgNVBAYTAkhLMRIwEAYDVQQIDAlIT05HIEtPTkcxCzAJBgNVBAcM
      AkhLMRQwEgYDVQQKDAtzcGFjZU1hc3RlcjELMAkGA1UECwwCSVQxITAfBgkqhkiG
      9w0BCQEWEmxlbm5vZGV2QGdtYWlsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAw
      gYkCgYEAsT5k1/9aIPLIegycErjvbw+XbmksjDvCA+pnycchxffnaIxUu6AL0GQa
      MsRtd6p3njA3nUITWOurkKKYaI0t5wDKk/3fMyjXrBvpM5nS6d0calHyi1h76EwD
      LL3CVCuWjafMdLyId9iCw6IWjoKCytJPPf5I3FMcR99BEBs+3TMCAwEAATANBgkq
      hkiG9w0BAQsFAAOBgQAJOxeOv9fX36FaGXAXOfWnpO/rqyPCFjyuz0FKz69WeQxI
      dWXLQyUf9dwbW5A9J9zFG0QahOpmeJmBHx5O1GOLAp7Zqmdyp+wGqGRBIy9BWvta
      thH8AOZdJC/9Hw+0xIqt8QeRNhTInxex23R/BgSEZ83NzmDtGxD6UcxWRistKg==
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIICXAIBAAKBgQCxPmTX/1og8sh6DJwSuO9vD5duaSyMO8ID6mfJxyHF9+dojFS7
      oAvQZBoyxG13qneeMDedQhNY66uQophojS3nAMqT/d8zKNesG+kzmdLp3RxqUfKL
      WHvoTAMsvcJUK5aNp8x0vIh32ILDohaOgoLK0k89/kjcUxxH30EQGz7dMwIDAQAB
      AoGAM+eJsJde1XdDrjozGmh99ZAjUHoMSaTWVD841aYzBb5rTfqKdceQrh4ibeuI
      AxswnGqSXsMS119shpaW+0ccwaRK+hCBbkNR1FRSIC2UA3zE+VLEZPmzxPHZ+Tj3
      zXoDZojOpoMicrBGhPRCjFYgAFLQWy+JvZ28af0u2vGrRUECQQDhiNRqEJpGTWgT
      LD1lqtERYzvEYEVCKtmZSBJym8urABcvyu7BWAyoBGm+XPatP09RAhwivfk9D4wE
      PTPADNqFAkEAyS+hHkV9ZZSDw+4YdkL5TjmUrdQeM92dMHN1YrhSRNFcKWW79AbU
      lW0Z02ehiOhD3vwO+JvkX6dBVHDq9/pSVwJAFYE/h9GHdFajKtjYDd6oyriklUf8
      sp91WilGIQl79RUwIM1/0I29vzOUhaNFniVgQcAqwKFOp6TY2/qd+Z0AJQJAE0Z7
      8lGIFR5ojXIXZ+U8y5DavNjQ1/lIoSa+vWmZgDxqzxCPNG8fGP3t9oI8SMiwEAIo
      UQtmkv+MU9HJwV57WwJBANjXMyyuXxWvhfN9z4VB/Jeb0v7oXmVIwl3wRprk+39Z
      w4GGGieDxgerbrk2RD3BKUjfOeOX/AW40SARyq6iwdg=
      -----END RSA PRIVATE KEY-----